<%- include('../partials/head'); %>


<body>
    <%- include('../partials/header'); %>

    <h2>HOJA 2</h2>

    <h1>MODELO - VISTA - CONTROLADOR</h1>

    <button><a href="/">Ir al index</a></button>

    <%- include('../partials/footer'); %>
    
</body>
</html>